body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    width: 100%;
    margin-bottom: 50px;
    height: 100%;

    display:flex;
    flex-direction:column
  }

.overall
{
  height: 100%;
}

html {
  height: 100%;
}

.title
{
  text-align: center;
  margin: 10px;
  padding: 30px;
  /* background-color: rgb(58, 58, 58); */
  /* color: white; */
}

.container
{
  width: 100%;
  display: flex;
  vertical-align: middle;
}
  
.navBar
{
  border-top: 2px solid #ffc400;
  /* border: 2px solid blue; */
  margin: 0px;
  text-align: center;
  display: flex;
  background-color: rgb(58, 58, 58);
  color: white;
  vertical-align: middle;
}

.navBox
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* border: 2px solid green; */
  vertical-align: middle;

}

.navText
{
  text-decoration: none;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.navText:hover 
{
  color: #ffc400;
}

.footer
{
  border-top: 2px solid #ffc400;
  background-color: rgb(58, 58, 58);
  text-align: center;
  padding: 20px;
  flex: 0 0 50px;
  margin-top: auto;
  color: white;

}

.column
{
  width: 45%;
  /* border: 1px solid red; */
  height: 100%;
  display: inline-block;
  justify-content: space-between;
  vertical-align: top;

}

.Body
{
  height: 100%;
  text-align: center;
}

.formBox
{
  border: 2px solid #ffc400;
  width: 80%;
  /* display: inline-block; */
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
}

.addUserButton
{
  padding: 10px;
  border: 1px black solid;
  color: white;
  background-color: rgb(58, 58, 58);
  /* width: 20%; */
  text-align: center;
  display: inline-block;
}

.addUserButton:hover 
{
  background-color: #ffc400;
}


.dashboard
{
  text-align: center;
}

.services
{
  text-align: center;
}

.serviceList
{
  text-align: center;
  display: inline-block;
  width: 25%;
  border: 2px solid #ffc400;
}

.mainbutton
{
  background-color: rgb(58, 58, 58);
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding: 10px;
  border-radius: 10%;
  border-style: none;
}

.mainbutton:hover
{
  background-color: #ffc400;
}

.outside
{
  display: flex;
  justify-content: space-around;
}

.inside
{
  text-align: center;
}

.bookings
{
  text-align: center;
  /* display: flex;
  justify-content: space-around;
  width: 80%; */
  border: 2px solid #ffc400;  
}

.booking
{
  text-align: left;
  min-width: 22%;
  display: inline-block;
  /* display: inline-block; */
  border: 2px solid #d6a400;
  margin: 5px;
  padding: 5px;
}

.logo
{
  text-align: center;
}

.serviceText
{
  text-decoration: none;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.serviceText:hover
{
  color: #ffc400;
}

.signupBox
{
  text-align: center;
  display: inline-block;
  width: 10%;
  border: 2px solid #ffc400;
}