body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    width: 100%;
    margin-bottom: 50px;
    height: 100%;
  }

html {
  height: 100%;
}
  
.header
{
  border: 2px solid blue;
  padding: 20px;
  margin: 0px;
  text-align: center;
}

.footer
{
  border: 2px solid blue;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding: 20px;
}

.column
{
  width: 45%;
  border: 1px solid red;
  height: 100%;
  display: inline-block;
  justify-content: space-between;
  

}

.Body
{
  height: 100%;
  text-align: center;
}